@import url(/kakaoAain2024/css/reset.css);
@import url(/kakaoAain2024/css/variables.css);

/* COMPOENETS */
@import url(/kakaoAain2024/css/components/status-bar.css);
@import url(/kakaoAain2024/css/components/nav-bar.css);
@import url(/kakaoAain2024/css/components/screen-header.css);
@import url(/kakaoAain2024/css/components/user-component.css);
@import url(/kakaoAain2024/css/components/pung.css);
@import url(/kakaoAain2024/css/components/icons.css);
@import url(/kakaoAain2024/css/components/badge.css);
@import url(/kakaoAain2024/css/components/chips.css);
@import url(/kakaoAain2024/css/components/alt-screen-header.css);
@import url(/kakaoAain2024/css/components/no-mobile.css);

/* SCREENS */
@import url(/kakaoAain2024/css/screens/login.css);
@import url(/kakaoAain2024/css/screens/friends.css);
@import url(/kakaoAain2024/css/screens/chats.css);
@import url(/kakaoAain2024/css/screens/openchat.css);
@import url(/kakaoAain2024/css/screens/shopping.css);
@import url(/kakaoAain2024/css/screens/more.css);
@import url(/kakaoAain2024/css/screens/chat.css);

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--black);

  height: 200vh;
}

/* .main-screen {
  padding: 0px var(--horizontal-space);
} */
