.nav--chats .nav__btn:nth-child(1) svg,
.nav--chats .nav__btn:nth-child(1) span {
  opacity: 0.3;
}

.nav--chats .nav__btn:nth-child(2) svg,
.nav--chats .nav__btn:nth-child(2) span:nth-child(2) {
  opacity: 1;
}

.banner--chats {
  border: none;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0;
}

.chat--chats img {
  margin-top: 16px;
}

.chat--chats div:nth-child(2) {
  margin: 16px;
}
