.chat-screen header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--black);
}

.chat-screen .alt-header__column:nth-last-child(1) {
  width: 33%;
  text-align: end;
}

.chat-screen .alt-header__column:nth-last-child(2) {
  width: 33%;
  text-align: center;
}
.chat-screen .alt-header__column:nth-last-child(3) {
  width: 33%;
}

.chat-screen .icon_search {
  margin-right: 16px;
}

.main-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat__timestamp {
  color: var(--black);
  margin-top: 184px;
  text-align: center;
  background-color: var(--grey);
  opacity: 0.5;
  width: 196px;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 24px;
}

.message-row {
  display: flex;
  width: 100%;
  margin: 24px;
}

.message-row img {
  width: 48px;
  height: 48px;
  border-radius: 16px;
  margin-right: 16px;
  margin-left: 24px;
}

.message__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.message__author {
  color: var(--grey);
  font-size: 14px;
}

.message__bubble {
  background-color: whitesmoke;
  display: block;
  font-size: 18px;
  padding: 12px;
  border-radius: 0px 24px 24px 24px;
  margin-top: 8px;
  margin-right: 16px;
}

.message__time {
  color: var(--grey);
  font-size: 14px;
}
