.chat-screen header {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: var(--black);
}

.chat-screen .alt-header__column:nth-last-child(1) {
  width: 33%;
  text-align: end;
}

.chat-screen .alt-header__column:nth-last-child(2) {
  width: 33%;
  text-align: center;
}
.chat-screen .alt-header__column:nth-last-child(3) {
  width: 33%;
}

.chat-screen .icon_search {
  margin-right: 16px;
}

.main-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s linear;
}

.chat__timestamp {
  color: var(--black);
  margin-top: 184px;
  text-align: center;
  background-color: var(--grey);
  opacity: 0.5;
  width: 196px;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 24px;
}

.message-row {
  display: flex;
  width: 100%;
  margin: 24px;
}

.message-row img {
  width: 48px;
  height: 48px;
  border-radius: 16px;
  margin-right: 16px;
  margin-left: 24px;
}

.message__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.message__author {
  color: var(--grey);
  font-size: 14px;
}

.message__bubble {
  background-color: whitesmoke;
  display: block;
  font-size: 18px;
  padding: 12px;
  border-radius: 0px 24px 24px 24px;
  margin-top: 8px;
  margin-right: 16px;
}

.message__time {
  color: var(--grey);
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
  flex-direction: column;
  align-items: end;
}

.message-row--own .message__bubble:first-child {
  border-radius: 24px 0px 24px 24px;
  margin-right: 24px;
  margin-left: 16px;
  background-color: var(--pink);
  color: whitesmoke;
  margin-bottom: 8px;
}

.message-row--own .message__bubble {
  border-radius: 24px 24px 24px 24px;
  margin-right: 24px;
  margin-left: 16px;
  background-color: var(--pink);
  color: whitesmoke;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  position: relative;
  width: 90%;
}
.reply input {
  height: 32px;
  width: 90%;
  border-radius: 24px;
  border: 1px solid var(--grey);
  padding: 8px 24px;
  margin-bottom: 40px;
  transition: all 0.5s ease-in-out;
}

.reply__column:nth-child(1) > svg {
  position: absolute;
  top: 20px;
  margin-right: 16px;
}
.reply__column:nth-child(2) > svg {
  position: absolute;
  right: 32px;
  top: 8px;
  margin-right: 16px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 0px;
}

.reply__column button svg {
  color: whitesmoke;
  position: absolute;
  right: 0px;
  top: 0px;
}

.home-bar {
  width: 200px;
  height: 8px;
  border-radius: 8px;
  background-color: var(--yellow);
  position: absolute;
  bottom: 15%;
  right: 30.2%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.reply svg,
.reply button,
.reply .reply__column:first-child {
  transition: opacity 1s ease-in-out;
}

.reply:focus-within svg,
.reply:focus-within button,
.reply:focus-within .reply__column:first-child {
  will-change: transform;
  opacity: 0;
  visibility: hidden;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-48px);
  right: -16px;
}
