#friends-display-link {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--horizontal-space);
  color: var(--grey);
  opacity: 0.5;
}

.friends-screen__updatedProfiles-header,
.friends-screen__pung-header,
.friends-screen__ad,
.friends-screen__birthday-header,
.friends-screen__recommendedFriends-header,
.friends-screen__channel-header,
.friends-screen__friendsList-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space) 0px;
  border-top: 1px solid var(--yellow);
  color: var(--yellow);
  margin: 16px 24px 0px 24px;
}

.friends-screen__updatedProfiles {
  display: flex;
  flex-direction: column;
}

.red-dot-avatar {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pink);
  position: absolute;
  right: 64px;
  top: 0px;
}

.pung-component__column {
  margin-left: 24px;
}

.friends-screen__ad img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.friends-screen__birthday img,
.friends-screen__friendsList img {
  margin-right: 16px;
  margin-bottom: 16px;
}

.friends-screen__birthday h4,
.friends-screen__friendsList h4 {
  font-weight: 300;
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 2s ease 0s 1 normal forwards;
  animation-delay: 1s;
}

#splash-screen svg {
  color: var(--black);
  width: 196px;
  animation: myAnim 2s ease 0s 1 normal forwards;
  animation-delay: 0s;
}

@keyframes myAnim {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
