.icon_gps {
  color: #007afe;
}

.icon_info {
  margin-right: 8px;
  color: var(--grey);
}

.icon_gift {
  margin-left: 8px;
  color: var(--pink);
}

.icon_search-sm {
  margin-left: 8px;
  margin-top: 4px;
}

.icon_bubble-sm {
  margin-left: 8px;
}
