.user-component,
.user-component__column:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__column__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 32px;
  margin: 24px;
}

.user-component__column__avatar--m {
  width: 64px;
  height: 64px;
  border-radius: 24px;
  margin: 8px 0px 8px 24px;
}

.user-component__column__avatar--s {
  width: 48px;
  height: 48px;
  border-radius: 20px;
  margin: 8px 0px 8px 24px;
}

.user-component__column__avatar--xs {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin: 8px 0px 8px 24px;
}

.user-component__column__text-title {
  color: var(--grey);
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 8px;
}

.user-component__column__text-subtitle {
  color: var(--grey);
  opacity: 0.5;
  margin-top: 8px;
  font-size: 16px;
}

.user-component__column__text-sponsored {
  color: var(--grey);
  opacity: 0.5;
  margin-top: 8px;
  font-size: 16px;
}

.user-component__column__status {
  margin-right: 24px;
  width: 80px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--grey);
  color: var(--grey);
}

.user-component__column__gift-btn {
  margin-right: 24px;
  width: 120px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--pink);
  color: var(--grey);
}

.user-component__column-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.user-component__column__text-title-m {
  font-size: 14px;
  margin: 8px 0px 8px 24px;
}

.user-component__time {
  margin-bottom: 0px;
  color: var(--grey);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  opacity: 0.5;
}

.user-component__column:nth-child(2) {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
